

<h1 class="titulo">PREDECIR RESULTADOS</h1>

  <% if @error %>
      <div class="error">Prediction failed.</div>
  <% end %>

  <nav> <!-- menu de navegacion -->
  <ul>
    <li><a href="http://localhost:4567/predictions">MIS PREDICCIONES</a></li>
    <li><a href="http://localhost:4567">INICIO</a></li>
  </ul>
  </nav> 

  <div class="prediction" >
    <div class="prediction-container">
      <h1 class="prediction-header">Haz una predicción para cada partido</h1>

      <form action="/addPrediction" method="post">

        <% @partidos.each do |p| %>

          <% if ! @user.prediction.where(match: p).exists? &&  ! @resultado.where(match: p).exists? %>

          <input type="hidden" id="p_id" name="p[][id]" value=<%= p.id%> >
          <%= Team.find_by(id: p.local_id).name%>
          <input type="number" min="0" name="p[][team1_goals]" placeholder="Team 1 goals" >
          <%= ' vs ' %> 
          <%= Team.find_by(id: p.visitor_id).name %>
          <input type="number" min="0" name="p[][team2_goals]" placeholder="Team 2 goals" >
          <% @match = p.id %> 
          </br>
          </br> 
          <% end %>
        <% end %>
        </br> 

        
        <div class="navegacion" >
        <input type="submit" name="button" value="Predecir" />
        </div>

      </form>
    </div>
  </div>
  </br>

