<h1>Add Result</h1>
  <% if @error %>
      <div class="error">Result failed.</div>
  <% end %>
  <form action="/addResult" method="post" >
    <% @partidos.each do |p| %>
  
      <input type="hidden" id="p_id" name="p[][id]" value=<%= p.id%> />
      <%= Team.find_by(id: p.local_id).name%>
      <input type="number" name="p[][team1_goals]" placeholder="Team1 goals" />
      <%= ' vs ' %> 
      <%= Team.find_by(id: p.visitor_id).name %>
      <input type="number" name="p[][team2_goals]" placeholder="Team2 goals" />
      <%@match = p.id%>
      </br>
      </br>      
    <% end %>
    </br>
    <input type="submit" name="button" value="Add Result" />
  </form> 

