<!DOCTYPE html>
<html>
  <head>
    <title>admin</title>
  </head>
  <body>
    <h1>Administracion</h1>
        <form action="/redirectAddTeam" method="post" >
            </br>
            <h3>Añadir equipo</h3>
            <input type="submit" name="button" value="Ir" />
        </form>

        
        <form action="/redirectAddMatch" method="post" >
            </br>
            <h3> Añadir partido </h3>    
            <input type="submit" name="button" value="Ir" />
            </br>
        </form>


        <form action="/redirectAddResult" method="post" >
            </br>
            <h3> Añadir Resultado </h3>
            <input type="submit" name="button" value="Ir" />
            </br>
        </form>
    
    </body>
</html>