
<% flash.keys.each do |type| %>
    <% if type == :alert %>
      <div class="popup">
        <h4> <%= flash[type] %> </h4>
      </div>
    <% end %>

    <% if type == :notice %>
      <div class="popupn">
        <h4> <%= flash[type] %> </h4>
      </div>
    <% end %>

  <% end %>

  <nav> <!-- menu de navegacion -->
  <ul>
    <li><a href="http://localhost:4567/matches">PARTIDOS</a></li>
    <li><a href="http://localhost:4567/results">RESULTADOS</a></li>
    <li><a href="http://localhost:4567/score">TABLA DE POSICIONES</a></li>
    <li><a href="http://localhost:4567/addPrediction">PREDECIR</a></li>
    <li><a href="http://localhost:4567/predictions">MIS PREDICCIONES</a></li>
    <li><a href="http://localhost:4567/">INICIO</a></li>
  </ul>

<div class="fondo"> 
<div class="login">
<div class="login-triangle"></div>
    <h2 class="login-header">Cambiar Contrase単a</h2>

    <form class="login-container" action="/editUser" method="post">
        <input type="password" name="currentPassword" placeholder="Contrase単a actual" />
        <input type="password" name="newPassword" placeholder="Nueva contrase単a" />      
        <input type="password" name="newPasswordTwo" placeholder="Repite nueva contrase単a" />
        
        <input type="submit" name="button" value="Confirmar" />
    </form>

</div>
</div>