<!DOCTYPE html>
<html>
  <head>
    <title>Main View</title>
  </head>
  <body>
    <h1>Esto no es un pagina ilegal de apuestas</h1>
    <% @equipos.each do |p| %>
        <%= p.name %> </br>
    <% end %>
  </body>
</html>
