  <% if @error %>
      <div class="error">Login failed.</div>
  <% end %>

  <div class="fondo"> 
    <div class="login">
    <div class="login-triangle"></div>
    <h2 class="login-header">Log in</h2>

    <form class="login-container" action="/login" method="post">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />      
        <input type="submit" name="button" value="Login" />
    </form>

    </div>
  </div>

  
  

 
  