<!DOCTYPE html>
<html>
  <head>
    <title>Matches</title>
  </head>
  <body>
    <div class="table">
      <table>
      <h1 id="tituloPartido">PARTIDOS</h1>

          <tr>
            <th>Equipo 1</th>
            <th>Equipo 2</th>
            <th>Fecha</th>
            <th>Ronda</th>
          </tr>
        
          <% @partidos.each do |p| %>
            <tr>
            <td> <%= Team.find_by(id: p.local_id).name %> </td>
            <td> <%= Team.find_by(id: p.visitor_id).name %> </td>
            <td> <%= p.datetime %> </td>
            <td> <%= p.round %> </td>
            </tr>
          <% end %>

       
      </table>
    </div>
  </body>
</html>
