
  <% if @error %>
      <div class="error">Signup failed.</div>
  <% end %>

  <% flash.keys.each do |type| %>
    <% if type == :alert %>
      <div class="popup">
        <h4> <%= flash[type] %> </h4>
        </div>
      <% end %>
  <% end %>

  <div class="fondo"> 
    <div class="signin">
    <div class="signin-triangle"></div>
    <h2 class="signin-header">Sign Up</h2>
    <form class="signin-container" action="/signup" method="post" >
        <input type="name" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="repeatpassword" placeholder="Repeat Password" />
        <input type="email" name="email" placeholder="Email" />
        <input type="submit" name="button" value="Signup" />
    </form>
    </div>
  </div>

  <div class="navegacion">
  </br>
  <form>
    <a href="http://localhost:4567">
    <input type="button" value="INICIO">
    </a>
  </form>
  </br>
  <form>
    <a href="http://localhost:4567/login">
    <input type="button" value="LOGIN">
    </a>
  </form>

  </div>

  





    
